/* .ft1{
    text-align: left;
    margin-left: 8px;   
    font-size: large;
}

.f{
    width: 1498px;
    padding: 2px;
    padding: 3px 5px;
    margin-left: 12px;
    border-color: black;
}

.ft3{
    text-align: left;
    margin-left: 12px;
    width: 1500px;
    border-style: solid 2px black;
    margin-top: 10px;
    border-width: 2px;
    height: 120px;
}

.prob{
    width: 1490px;
    height: 320px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 20px;
    margin-left: 10px;

}

.ft5{
    width: 1498px;
    padding: 2px;
    margin-left: 12px;
    border-color: black;
    padding: 3px 5px;
}

.Post{
    text-align: left;
    margin-left: 8px;   
}

.cr
{
    background-color: rgb(163, 163, 162);
}

.button{
    margin-top: 20px;
    border-style: none;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: grey;
    padding: 0 35px;
    margin-left: 89%;
    font-size: medium;
}
.a{
    margin-left: 10px;
    font-weight: normal;
} */